@tailwind base;
@tailwind components;
@tailwind utilities;

@import '_mixins';
@import 'fonts';
@import 'typography';
@import 'blocks/index';

.disable-scroll {
  @apply overflow-y-hidden;
  scrollbar-gutter: stable;
  
  header {
    transition: none !important;
  }

  .menu-panel .top-container, header {
    padding-right: calc(20px + var(--scrollbar-size));
    @screen md {
      padding-right: calc(30px + var(--scrollbar-size));
    }
  }
}

.menu-panel, header {
  .menu {
    .btn-menu {
      span {  
        @apply h-[3px] w-[60px] lg:w-[70px] bg-white block transition-all duration-500 relative;
      }
    }
  }
  &.opened {
    .btn-menu {
      span {
        &:nth-child(1) {
          @apply rotate-45 m-0;
        }
        &:nth-child(2) {
          @apply -rotate-45 mt-[-3px];
        }
      }
    }
  }
}

.menu-panel, header.headroom--pinned:not(.headroom--top) {
  .menu .btn-menu span { 
    @apply bg-blue;
  }
}

header {
  @apply transition-[top,background] duration-500 z-20;

  .menu {
    .btn-menu {
      span {  
        @apply mb-3 last:mb-0;
      }
    }
  }

  .logo {
    a svg {
      @apply w-[196px] h-[53px] md:w-[235px] md:h-[64px] lg:w-[274px] lg:h-[75px];
      * {
        @apply fill-white;
      }
    }
  }

  .buttons {
    .btn-book {
      @apply border-white;
    }
  }

  &.headroom--unpinned {
    @apply -top-[125px];
  }

  &.headroom--pinned:not(.headroom--top) {
    @apply bg-white text-blue;

    .logo a svg * {
      @apply fill-blue;
    }

    .buttons {
      .btn-book {
        @apply border-blue;
      }
    }
  }
}

.menu-panel {
  &.active {
    @apply z-[9999];
  }
  
  .btn-menu {
    span {  
      @apply top-[50%] relative;
    }
  }
  .address-container {
    p a {
      @apply no-underline;
    }
  }
}

footer {
  .top-container {
    a svg {
      @apply w-[180px] md:w-[160px] lg:w-[180px];
      * {
        @apply fill-metal;
      }
    }
  }
  .middle-container {
    p {
      @apply mb-6 font-sans-alt text-[16px] lg:text-[14px];
      span {
        @apply block md:inline-block;
      }
    }

    br:not(.spacing) {
      @apply hidden;
    }

    span.telephone {
      @apply mb-6;
    }

    .social-links {
      p {
        @apply mb-0;
      }
    }
  }
}

.button {
  @apply inline-flex items-center leading-none transition-all duration-500;
  &:not(.text) {
    @apply rounded-[30px] bg-white text-blue border-2 border-blue;
  }

  svg {
    @apply fill-blue inline-block ml-[10px];
  }

  &.no-border {
    @apply border-none;
  }

  &.large {
    @apply btn-text-1 py-[16px] px-8 rounded-[40px];

    &.no-border {
      @apply py-[18px];
    }
  }

  &.medium {
    @apply btn-text-2 pt-[15px] pb-[13px] px-[30px];

    &.no-border {
      @apply py-4;
    }
  }

  &.small {
    @apply font-sans-alt leading-5 btn-text-3 text-navy py-[9px] px-[30px] uppercase;
  }

  &.dark {
    @apply bg-dark-blue text-white;

    svg {
      @apply fill-white;
    }
  }

  &.text {
    @apply px-0 font-medium;

    img {
      @apply max-h-2;
    }
  } 
}

body {
  @apply font-sans text-blue;
}

.swiper {
  .swiper-wrapper {
    @apply pb-[76px];
  }
  
  .swiper-scrollbar {
    bottom: 0 !important;
  }
}

.swiper-blog {
  &.default {
    .text-container {
      @apply bg-white pt-5 px-5 pb-8 h-full;
    }
  }
}

// for block padding
.pt-sm {
  @apply pt-[100px];
} 

.pt-md {
  @apply pt-[100px] md:pt-[120px] lg:pt-[140px];
}

.pt-lg {
  @apply pt-[120px] md:pt-[120px] lg:pt-[200px];
}

.pt-xl {
  @apply pt-[192px] md:pt-[336px] lg:pt-[300px];
}

.pb-sm {
  @apply pb-[100px];
} 

.pb-md {
  @apply pb-[100px] md:pb-[120px] lg:pb-[140px];
}

.pb-lg {
  @apply pb-[120px] md:pb-[120px] lg:pb-[200px];
}

.pb-xl {
  @apply pb-[192px] md:pb-[336px] lg:pb-[300px];
}

.bc-transparent, .bc-gray {

  .swiper {
    .swiper-scrollbar {
      @apply bg-black/20;
      .swiper-scrollbar-drag {
        @apply bg-black;  
      }
    }
  }
}

.bc-transparent.has-parallax {
  @apply text-white;
}

.bc-light-blue, .bc-blue, .bc-navy {
  @apply text-white;

  .swiper {
    .swiper-scrollbar {
      @apply bg-white/20;
      .swiper-scrollbar-drag {
        @apply bg-white;  
      }
    }
  }
}

.bc-light-blue {
  @apply bg-light-blue;
}

.bc-blue {
  @apply bg-blue;
} 

.bc-navy {
  @apply bg-navy;
}

.bc-white {
  @apply bg-white;
}

.bc-gray {
  @apply bg-gray;
}

.background, .parallax-bg {
  @apply bg-no-repeat bg-cover text-white bg-black/30 bg-blend-multiply;
  background-image: var(--bg-url);
}

.parallax-bg {
  @apply w-full h-full absolute top-0 left-0 bg-black/40 z-[-1] bg-repeat bg-top bg-fixed;
  background-size: auto var(--window-height);
  @screen md {
    background-size: auto 110%;
  }
  @screen lg {
    @apply lg:bg-cover;
  }
}

.acf-block {
  .parallax-bg {
    background-size: auto 140%;
    @screen md {
      background-size: auto 110%;
    }
    @screen lg {
      @apply lg:bg-cover;
    }
  }
}